In [37]:
#ðŸ‘‰ Task:
 # Use melt() to convert this DataFrame to long format with columns: Student, Subject, and Score.

import pandas as pd

df = pd.DataFrame({
    'Student': ['Alice', 'Bob', 'Charlie'],
    'Math': [90, 80, 85],
    'Science': [88, 76, 89],
    'English': [92, 84, 90]
})
df = df.melt(id_vars = ["Student"], value_vars = ["Math", "Science", "English"], var_name = "Subject", value_name = "Score")
print(df)

# Pivot Back
# Using the melted DataFrame, pivot it back to get the original wide format (with columns Student, Math, Science, English).

df = df.pivot(index = "Student", columns = "Subject", values = "Score").reset_index()
df.columns.name = None
print("\n")
print(df)

# Use pivot_table with duplicate entries
# Use pivot_table() to create a wide-format DataFrame with the average score per student per subject.
# Remove column index name

df2 = pd.DataFrame({
    'Student': ['Alice', 'Bob', 'Alice', 'Bob'],
    'Subject': ['Math', 'Math', 'Math', 'Math'],
    'Score': [90, 80, 92, 78]
})
df2 = df2.pivot_table(index = "Student", columns = "Subject", values = "Score", aggfunc = "mean").reset_index()
df2.columns.name = None
print("\n")
print(df2)

   Student  Subject  Score
0    Alice     Math     90
1      Bob     Math     80
2  Charlie     Math     85
3    Alice  Science     88
4      Bob  Science     76
5  Charlie  Science     89
6    Alice  English     92
7      Bob  English     84
8  Charlie  English     90


   Student  English  Math  Science
0    Alice       92    90       88
1      Bob       84    80       76
2  Charlie       90    85       89


  Student  Math
0   Alice  91.0
1     Bob  79.0