In [17]:
# Multi-Index Pivot Table + Reshape Back
# Tasks:
# üîÅ Create a pivot table where:

# index = ["Class", "Student"]

# columns = Subject

# values = Score

# aggfunc = 'mean'

# üßπ Reset the index and remove the column index name to make the table neat.

import pandas as pd

df = pd.DataFrame({
    'Class': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Student': ['Alice', 'Bob', 'Charlie', 'David', 'Alice', 'Charlie'],
    'Subject': ['Math', 'Math', 'Math', 'Math', 'English', 'English'],
    'Score': [90, 85, 88, 76, 92, 80]
})
print (df)
df = df.pivot_table(index = ["Class", "Student"], columns = "Subject", values = "Score" , aggfunc = "mean").reset_index()
df.columns.name = None
print("\n")
print(df)

# üîÑ Now reshape it back to long format using melt() with:

# Columns: Class, Student, Subject, Score

df = df.melt(id_vars = ["Class", "Student"], value_vars = ["English", "Math"], var_name = "Subject", value_name = "Score").dropna().reset_index()
df = df[["Class", "Student", "Subject", "Score"]]
print("\n")
print(df)

  Class  Student  Subject  Score
0     A    Alice     Math     90
1     A      Bob     Math     85
2     B  Charlie     Math     88
3     B    David     Math     76
4     A    Alice  English     92
5     B  Charlie  English     80


  Class  Student  English  Math
0     A    Alice     92.0  90.0
1     A      Bob      NaN  85.0
2     B  Charlie     80.0  88.0
3     B    David      NaN  76.0


  Class  Student  Subject  Score
0     A    Alice  English   92.0
1     B  Charlie  English   80.0
2     A    Alice     Math   90.0
3     A      Bob     Math   85.0
4     B  Charlie     Math   88.0
5     B    David     Math   76.0